        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400&display=swap');
        * {
            font-family: 'IBM Plex Sans Thai', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            width: 100vw;
            min-width: 100vh;
        }
        
        .title {
            color: #FAB23D;
            font-size: 24px;
        }
        
        .review-box {
            border-radius: 15px;
            background-color: #3B3F46;
            box-shadow: 5px 5px 2px rgb(177, 177, 177);
            padding: 15px 15px 10px 25px;
        }
        
        .fa-ellipsis-h {
            float: right;
            color: white;
            padding: 3px;
            border-radius: 50%;
            display: block;
            text-align: center;
            font-size: 18px;
        }
        
        .fa-ellipsis-h:hover {
            background-color: rgba(131, 131, 131, 0.679);
        }
        
        .avatar {
            vertical-align: middle;
            width: 35px;
            height: 35px;
        }
        
        .badge {
            background-color: #b8b6b6;
            font-size: 12.5px;
            margin-right: 5px;
            border: none;
            outline: none;
            color: white;
            display: block;
        }
        
        .post-item {
            color: white;
            padding: 5px 10px;
            font-size: 16px;
            letter-spacing: 0.5px;
        }
        
        strong {
            margin-left: 10px;
            font-size: 11px;
            color: white;
            letter-spacing: 0.8px;
        }
        
        #time {
            margin-left: 15px;
            font-size: 11px;
            color: white;
            letter-spacing: 0.8px;
        }
        
        .comment-btn {
            position: relative;
        }
        
        .addcomment button {
            position: absolute;
            border: none;
            color: white;
            background-color: #FAB23D;
            border: 2px solid #FAB23D;
            border-radius: 20px;
            padding: 0 5px;
            bottom: 5px;
            right: 10px;
        }
        
        .addcomment button:hover,
        .addcomment button:active {
            color: #FAB23D;
            background-color: white;
            border: 2px solid #FAB23D;
        }
        
        .comment-box {
            border-radius: 15px;
            background-color: #686b70;
            box-shadow: 5px 5px 2px rgb(177, 177, 177);
            padding: 15px 15px 10px 25px;
            margin-top: 30px;
        }
        
        .comment {
            color: white;
            font-size: 16px;
        }
        
        .fa-ellipsis-h:hover {
            border-color: rgb(126, 125, 125);
        }
        
        .d-block .comment {
            margin: 10px 0 6px 50px;
        }
        
        .checked {
            color: orange;
        }
        
        .star-review .heading {
            font-size: 17px;
            color: white;
            margin-right: 5px;
        }
        
        .dropdown-menu a:hover {
            background-color: #FAB23D;
            color: white;
        }
        
        .dropdown-menu a {
            color: #FAB23D;
        }
        
        .modal-footer button {
            outline: none;
            border: none;
            color: white;
            background-color: #FAB23D;
            padding: 5px 20px;
            border: 2px solid #FAB23D;
        }
        
        .modal-footer button:active,
        .modal-footer button:hover {
            color: #FAB23D;
            background-color: white;
            border: 2px solid #FAB23D;
        }
        
        .review-choose {
            margin-top: 15px;
            margin-bottom: 10px;
        }
        
        .review-choose .heading,
        .fa-star {
            margin-right: 10px;
            font-size: 18px;
        }
        
        .modal-header,
        .modal-footer {
            background-color: #3B3F46;
            color: #FAB23D;
        }
        
        .modal-body textarea {
            margin-top: 10px;
            font-size: 17px;
        }
        
        #staticBackdrop .modal-body {
            background-color: #d2d2d297;
            font-size: 16px;
        }
        
        button.btn {
            color: white;
            background-color: #FAB23D;
            border: 2px solid #FAB23D;
            border-radius: 20px;
            margin-left: 15px;
        }
        
        button.btn:hover,
        button.btn:active {
            color: #FAB23D;
            background-color: white;
            border: 2px solid #FAB23D;
        }
        
        #needLabel {
            margin: 52.5px;
        }
        
        #need .modal-body {
            background-color: #d2d2d297;
            font-size: 16px;
        }
        
        .addcomment .fa-comment-dots {
            display: none;
        }
        
        @media (max-width: 899px) {
            .title {
                font-size: 20px;
            }
        }
        
        @media (max-width: 866px) {
            .addcomment button {
                display: none;
            }
            .addcomment .fa-comment-dots {
                display: block;
                font-size: 28px;
                position: absolute;
                bottom: 5px;
                right: 10px;
                color: #FAB23D;
            }
            .addcomment .fa-comment-dots:hover {
                color: white;
                font-size: 30px;
            }
        }
        
        @media (max-width: 575px) {
            .col-lg-4 .btn {}
        }