@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
.inf{
  padding: 0 20px;
  margin-bottom: 20px;
}
section .posttext {
    position: relative;
    margin-right: 5px;
    display: table;
}

.posttext {
    color: #FAB23D;
    font-size: 35px;
    margin: 8px 8px;
    display: inline;
}

section .banner {
  width: 100%;
  /*position: relative;*/
  vertical-align: bottom;
  top: 0px;
  left: 0px;
  resize: horizontal;
}
.posttext p.mainC {
  font-size: 30px;
  font-weight: bold;
  text-align: start;
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline;
}
a.Content{
  cursor: pointer;
  text-decoration: none;
}
a.Content:hover,.post_btn:hover{
  background-color: #53565e;
  text-decoration: none;
  color: unset;
}

/*margin: [top][right][bottom][left]*/
.post_btn{
  margin: 10px 10px 0px 10px;
  border-radius: 15px;
  background-color: #3B3F46;
  padding: 15px;
  width: auto;
  box-shadow: 5px 5px 2px rgb(177, 177, 177);
}
.icon_next{
  font-size: 25px;
  color: white;
}
.textC{
  color: white;
  font-weight: normal;
  display: inline;
  margin-left: 5px;
}
.textS, .Timestamp{
  color: white;
  margin-left: 35px;
  color: #FAB23D;
}
.Timestamp{
  display: inline;
}
.iconcomment{
  font-size: 50px;
  color: white;
}
.commentN{
  position: relative;
  margin-top: -15px;
  margin-left: 45px;
  width: fit-content;
  color: white;
}
.A_left{
width: auto;
display: inline-block;
}
.A_right{
  float: right;
  margin-top: 25px;
  margin-right: 10px;
  display: block;
}
.footer{
  color: transparent;
  padding-top: 5px;
  align-items: center;
}